@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/*HEADER*/
.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 5px 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-family: 'Open Sans', sans-serif;
}

.tekstHeader{
  text-align: left;
  color: darkblue;
  font-size: 25px;
  font-weight: 600;
  width: 250px;
  letter-spacing: 0.5px;
  font-family:'Open Sans', sans-serif;
}

.left-right-header{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 100%;
}

.profilehamburger{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;

  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.left-right-header:hover .profilehamburger{
  display: block;
}

.profilehamburger li{
  padding: 20px 30px;
  white-space: nowrap;
  align-items: center;
  display: flex;
  transition: all 0.3s ease;
  font-weight: 600;
}

.profilehamburger li:hover{
  color: darkblue;
  transform: translateY(-3px);
}

.personIcon{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/*CENTER*/
.center{
  background-color: white;
}





/*FOOTER*/
.bottom-navbar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
  
}
.nav-bottom-div ul{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;;
}
.nav-bottom-div li{
  flex: 1;
}
.nav-bottom-div a{
  color: DarkGray;
  border-radius: 25px;
  padding: 8px 10px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;

}

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 0.9rem;

  padding: 10px 15px;
  border-radius: 12px;
  transition: all 0.3s ease;


}

.nav-link.active,
.nav-link:hover{
  color: darkblue;
  background-color: white;
  transform: translateY(-3px);
}
.nav-icon{
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: all 0.3s ease;
}
.nav-icon-hantel{
  transform: scale(2.2);
  margin-top: 0px;
}
.nav-icon-main{
  transform: scale(1.8);
}
.nav-icon-person{
  transform: scale(1.5);
}
